<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Republican Children's Clinical Hospital</title>
    <meta name="keywords" content="children, health, doctors, illness"/>
    <meta name="description"
          content="This site allows you make an appoitment with a doctor in Republican Children's Clinical Hospital"/>

    <link href="../../css/bootstrap.css" rel="stylesheet">
    <link href="../../css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
</head>
<body>
<div id="wrapper">
    <div class="container">
        <header>
            <div class="row">
                <div class="logo span4">
                    <a class="brand" href="/main"><img src="../../img/choc-logo-2014.png"></a>
                </div>
            </div>
        </header>


        <div class="navbar navbar-inverse">
            <div class="navbar inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="/main">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contacts">Contacts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>